.chart {
  width: 90%;
  max-width: 60rem;
  height: auto;
  margin: 2rem auto;
  padding: 2rem;
  overflow: auto
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 7px;
}