.about {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.team {
  width: 90%;
  max-width: 90%;
  margin: 2rem auto;
  padding: 2rem;
}

.classes.paragraph {
  display: inline-block;
  padding-top: 30px;
}
