.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.actions {
  text-align: center;
}

.center-button {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
