.profile {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 4rem;
}

.avatar__image {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}